/.vs
/ChristianApi/.vs
ChristianApi/ChristianApi/ChristianApi.csproj.user
/ChristianApi/ChristianApi/bin/Debug
/ChristianApi/ChristianApi/obj/Debug
/ChristianApi/TestChristianApi/bin
/ChristianApi/TestChristianApi/obj
